<div class="hero-section">
        <div class="pay-btn-section">
            <p class="paid-hero-header">Get Paid, Send Payment Requests</p>
            <button class="pay-request-btn">Send Requests</button>
        </div>
        <div class="image-name-section">
            <img src="/assets/DefaultProPic.png" alt="profile picture" class="profile-pic">
            <p class="hero-username">Users Name</p>
            <p class="hero-client-count">Client Count: ##</p>
        </div>
        <div class="service-snippets">
            <p class="service-snippet-header">You Currently ## Services Open Right Now:</p>
            <p class="service-snippet-small">## monthly repeating</p>
            <p class="service-snippet-small">## one time services</p>
        </div>
    </div>
    <div class="bottom-divider"></div>