

<nav class="main-nav">
    {{#if clientIndex}}
    <a href="/clients" class="main-nav-btn selected" id="btn-a">Clients</a>
    {{else}}
    <a href="/clients" class="main-nav-btn" id="btn-a">Clients</a>
    {{/if}}
    {{#if serviceIndex}}
    <a href="/services" class="main-nav-btn selected" id="btn-b">Services</a>
    {{else}}
    <a href="/services" class="main-nav-btn" id="btn-b">Services</a>
    {{/if}}
    <a href="#" class="main-nav-btn" id="btn-c">Payments</a>
</nav>
