

<nav class="main-nav">
    <a href="/clients" class="main-nav-btn selected" id="btn-a">Clients</a>
    <a href="/services" class="main-nav-btn" id="btn-b">Services</a>
    <a href="#" class="main-nav-btn" id="btn-c">Payments</a>
</nav>
