

<form action="/services" class="service-form" method="post">
    <label for="name">Service Name:</label>
    <input type="text" name="name" class="service-input" placeholder="Website Development">
    <label for="pricing">Pricing:</label>
    $<input type="text" name="pricing" class="service-input pricing-input" placeholder="500">
    <label for="reoccuring">Reoccuring Service:</label>
    <select name="reoccuring" class="reoccuring-selector">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <button type="submit" class="service-form-btn"><i class="fas fa-plus"></i> Add</button>

</form>