<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gig Buddy</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:700|Roboto+Mono" rel="stylesheet">
    
</head>
<body>
    <nav class="auth-nav">
        <h3 class="branding">Gig Buddy</h3>
        <div class="auth-btn-container">
            <a class="auth-btn" href="#">Sign In</a>
            <a class="auth-btn" href="#">Sign Up</a>
            <a class="auth-btn" href="#">Sign Out</a>
        </div>
        
    </nav>
    

    {{{ body }}}
    
</body>
</html>