{{> hero-section }}
<div class="main-nav-container">
    {{> mainNav }}
</div>

<div class="clients-index-container">
    <div class="btn-flex">
        <a href="/clients/new" class="new-client-btn">Add Client</a>
    </div>
        <div class="clients-container">
            {{#each clients}}
            <a href="/clients/{{ this._id }}" class="big-link">
                <div class="client-card">
                    <h2>{{ this.name }}</h2>
                    <p class="client-services-header">Services:</p>
                    <ul class="client-service-list">
                        <li>some service</li>
                        <li>some service</li>
                        <li>some service</li>
                    </ul>
                    <p class="client-total-billed">Total Billed: $##</p>
                </div>
            </a>
        {{/each}}
        </div>
        
    
</div>

