


{{> hero-section }}
<a href="/clients" class="back-btn">Back</a>
<div class="clients-show-container">
    <h2 class="client-show-name">{{ client.name }}</h2>
    <p class="client-show-description">{{ client.description }}</p>
    
    <div class="show-services-container">
        <h3 class="show-services-header">Services:</h3>
        <div class="services-table">
            <div class="row-flex">
                <p class="service-table-name"><b>Service Name</b></p>
                <p class="service-table-price"><b>Service Price:</b>  $##</p>
                <p class="service-table-reoccuring"><b>Reoccuring Payments:</b> Yes</p>
            </div>
            <div class="divider"></div>
            <div class="row-flex">
                <p class="service-table-name"><b>Service Name</b></p>
                <p class="service-table-price"><b>Service Price:</b> $##</p>
                <p class="service-table-reoccuring"><b>Reoccuring Payments:</b> Yes</p>
            </div>
            <div class="divider"></div>
            
        </div>
    </div>
</div>

