
<div class="landing-hero-section">
    <h1 class="landing-hero-header">Welcome To Gig Buddy</h1>
    <h3 class="landing-hero-byline">Helping Freelancers Get Organized, Get Paid, And Conquer The Gig Economy</h3>
    <div class="landing-hero-btn-container">
            {{#if user}}
            <a href="/clients" class="landing-hero-btn landing-sign-up">Go To Dashboard</a>
            {{else}}
            <a href="/sign-up" class="landing-hero-btn landing-sign-up">Sign-up</a>
            {{/if}}
            <a href="#gig-container" id="smooth-scroll" class="landing-hero-btn landing-learn-more">Learn More</a>
    </div>
</div>
<div class="landing-image-content-section">
        <div class="image-content-container" id="container-a">
            <p class="icon" id="icon-a"><i class="fas fa-laptop"></i></p>
            <h3 class="image-content-header">Stay Organized</h3>
            <div class="content-hidden" id="div-a">
                <p class="image-content">Gig Buddy makes it easy to get organized by allowing you to easily track info about your clients and services. Store useful information such as pricing, details, contanct info , etc.</p>
            </div>
        </div>
        <div class="image-content-container" id="container-b">
            <p class="icon" id="icon-b"><i class="fas fa-hand-holding-usd"></i></p>
            <h3 class="image-content-header">Get Paid</h3>
            <div class="content-hidden" id="div-b">
                <p class="image-content">We make payment simple with our one click payment request feature. Allowing you to send email payment requests from within our app.</p>
            </div>
        </div>
        <div class="image-content-container" id="container-c">
            <p class="icon" id="icon-c"><i class="fas fa-chart-line"></i></p>
            <h3 class="image-content-header">Track Progress</h3>
            <div class="content-hidden" id="div-c">
                <p class="image-content">Gig Buddy helps you measure progress by keeping track on all of your billing and services history for clients.</p>
            </div>
        </div>
</div>
<div class="seperator-image">
    <div class="seperator-div">
        <h3 class="landing-subscribe-header">Subscribe For Product Updates</h3>
        <p class="seperator-icon"><i class="far fa-envelope"></i></p>
        <label for="subscribe" class="sub-label">Subscribe</label>
        <input type="text" name="subscribe" id="email-sub-input" class="email-sub-input" placeholder="Whats your email?">
        <button class="email-sub-btn" id="email-sub-btn" onclick="postSub()"><i class="fas fa-check-square"></i></button>
    </div>
</div>
<div class="about-gig-buddy-container" id="gig-container">
    <h2 class="about-gig-buddy-header">About Gig Buddy</h2>
    <p class="about-gig-buddy">Gig Buddy was created by Freelancers for Freelancers and hopes to keep developing useful but simple features to help optimize your time and increase your success. Currently Gig Buddy is a lightweight, easy to use dashboard for the gig economy that allows users to easily track information about:
        <ul class="about-gig-buddy gig-list" id="gig-container">
            <li>Clients</li>
            <li>Services</li>
            <li>Payments</li>
        </ul>
    </p>
</div>



