<div class="row">
    <div class="col-12">
        <div class="jumbotron home-bg" style="text-align:center">
            <h1 class="display-4" style="color:#FBFFF9; font-weight:800;">Welcome To Gig Buddy</h1>
            <p class="lead" style="color:#FBFFF9">Helping Freelancers Get Organized, Get Paid, And Conquer The Gig Economy</p>
            <hr class="my-4">
            <p class="lead">
                {{#unless user}}
                <a class="btn btn-outline-success right-align" href="/sign-in" role="button">Sign In</a>
                <a class="btn btn-raised btn-success right-align" href="/sign-up" role="button">Create Account</a>
                {{else}}
                <a class="btn btn-outline-success right-align btn-lg" href="/clients" role="button">Dashboard</a>
                {{/unless}}
            </p>
        </div>
    </div>
    <div class="col-12" style="display: flex; flex-direction:row; justify-content:space-between;">
        <center class="col-4">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem; height:300px;">
            <div class="card-header"><p style="text-align:center; color:#FBFFF9; font-size:2em;"><i class="fas fa-laptop" style="text-align:center; font-size:2em;"></i></p></div>
            <div class="card-body">
                <h5 class="card-title">Stay Organized</h5>
                <p class="card-text" style="color:#FBFFF9;">Gig Buddy makes it easy to get organized by allowing you to easily track info about your clients and services. Store useful information such as pricing, details, contanct info , etc.</p>
            </div>
        </div>
        </center>
        <center class="col-4">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem; height:300px;">
                <div class="card-header"><p style="text-align:center; color:#FBFFF9; font-size:2em;"><i class="fas fa-hand-holding-usd" style="text-align:center; font-size:2em;"></i></p></div>
                <div class="card-body">
                    <h5 class="card-title">Get Paid</h5>
                    <p class="card-text" style="color:#FBFFF9;">We make payment simple with our one click payment request feature. Allowing you to send email payment requests from within our app.</p>
                </div>
            </div>
        </center>
        <center class="col-4">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem; height:300px;">
                <div class="card-header"><p style="text-align:center; color:#FBFFF9; font-size:2em;"><i class="fas fa-chart-line" style="text-align:center; font-size:2em;"></i></p></div>
                <div class="card-body">
                    <h5 class="card-title">Track Progress</h5>
                    <p class="card-text" style="color:#FBFFF9;">Gig Buddy helps you measure progress by keeping track on all of your billing and services history for clients.</p>
                </div>
            </div>
        </center>
    </div>
    <div class="col-12 bg-success" style="opacity:0.8">
        <center class="input-group col-8 mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-outline-primary m-2" type="button" style="color:#FBFFF9; border-color:#FBFFF9;">Subscribe</button>
            </div>
            <input type="text" class="form-control sub-input" style="color:#FBFFF9; font-size:1.2em; border-color:#FBFFF9;" placeholder="Subscribe With Email For Product Updates" aria-label="" aria-describedby="basic-addon1">
        </center>
    </div>
</div>