{{> hero-section }}
<div class="main-nav-container">
    {{> mainNav }}
</div>

<div class="clients-index-container">
    {{#if services}}
        <h2 class="all-services-header">Your Services:</h2>
        <div class="service-index-table">
            {{#each services}}
            <div class="row-flex">
                <p class="service-table-name"><b>{{ this.name }}</b></p>
                <p class="service-table-price"><b class="seperate">Service Price:</b>  ${{ this.pricing }}</p>
                {{#if this.reoccurring}}
                <p class="service-table-reoccurring"><b>reoccurring Payments:</b> Yes</p>
                {{else}}
                <p class="service-table-reoccurring"><b>reoccurring Payments:</b> No</p>
                {{/if}}
            </div>
            <div class="divider"></div>
            {{/each}}
            <div class="dropdown-flex">
                <button class="add-service-btn" id="toggle-form-btn" onclick="toggleForm()"><i class="fas fa-plus"></i> Add Service</button>
                <div id="service-form-dropdown" class="hidden">
                    {{> service-form}}
                </div>
            </div> 
        </div>
        {{else}}
        <div class="no-service-div">
            <p class="no-services-warning">You don't have any services setup!</p>
            <p class="no-service-byline">Lets set some up now...</p>
            {{> service-form}}
        </div>
        {{/if}}
</div>

