<div class="auth-form-header-container">
    <h1 class="form-header">Welcome Back!</h1>
    <small class="form-header-byline">Gig Buddy has missed you. Sign in to get back to work!</small>
</div>
<form action="/sign-in" method="post" class="auth-form sign-in">
    <span>
        <label for="email">Email: </label>
        <input type="text" name="email" class="form-input sign-in-inp">
    </span>
    <span>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="password123" class="form-input sign-in-inp">
    </span>
    <div class="sign-in-btn-container">
        <button type="submit" class="sign-in-btn">Sign In</button>
        <small class="no-account">Don't have an account? <a href="/sign-up" class="no-account-link">Click here</a></small>
    </div>
</form>