body {
    background-color: #FBFFF9;
    font-size: 16px;
    margin-top: 0;
    padding-top: 0;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;

}

h1, h2, h3 {
font-family: 'Lato', sans-serif;

}

p {
    color: #292f33;
}

b {
    font-weight: bold;
    font-size: 1.1em;
}

label {
    color: #981D1A;
    font-size: 0.9em;
    font-weight: bold;
}

/********
Auth Forms Styling:
**************/

.auth-form-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}
.form-header-byline {
    align-self: center;
    margin-top: -16px;
}

.sign-in-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-btn {
    width: 95%;
    color: #4caf50;
    border: solid #4caf50;
    background: none;
    transition: all 300ms;
    font-size: 1.1em;
    margin: auto;
    /* margin-right: 104px; */
}

.sign-in-btn:hover {
    color: #FBFFF9;
    background-color: #4caf50;
    cursor: pointer;
}

.auth-form {
    width: 50%;
    margin: auto;
}
.sign-in {
    width: 40%;
}
.no-account {
    margin-right: 104px;
}
.no-account-link {
    color: #981D1A;
}

.no-account-link::after {
    color: inherit;
}
.no-account-link:hover {
    color: #4caf50;
    cursor: pointer;
}


.auth-contact-info {
    display: flex;
    flex-direction: column;

}



/********
Top Nav Styling:
**************/

.auth-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FBFFF9;
    height: 40px;
    border-bottom: solid lightgray thin;
    
}

.branding {
    margin-bottom: 16px;
    margin-left: 8px;
}

.auth-btn-container {
    display: flex;
    flex-direction: row;
    padding: 4px;
}

.auth-btn {
    padding: 4px;
    padding-top: 8px;
    text-decoration: none;
    margin-right: 24px;
    font-size: 0.9em;
    color: #981D1A;
    font-weight: bold;
    transition: all 300ms;
}

.auth-btn:hover {
    background-color: #981D1A;
    color: #FBFFF9;
    cursor: pointer;

}

.auth-btn::after {
    text-decoration: none;
    color: inherit;
}
/********
Hero Section Partial Styling:
**************/

.hero-section {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    'a a b b c c'
    'a a b b c c'
    'a a b b c c'
    'a a b b c c'
    'a a b b c c'
    'a a b b c c';
    background-color: #4caf50;
    height: 320px;
    width: 100%;
    align-items: cover;
    color: #FBFFF9;
    margin-bottom: 16px;
}

.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }

.pay-btn-section {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-left: 48px;
    width: 60%;
}

.client-selector {
    font-size: 1em;
    text-align: center;
    margin-top: -2px;
    margin-bottom: 4px;
}

.pay-request-btn {
    width: 40%;
    align-self: flex-end;
    font-size: .75em;
    font-family: 'Lato', sans-serif;
    color: #FBFFF9;
    border: solid #FBFFF9;
    background: none;
    transition: all 300ms;

}

.pay-request-btn:hover {
    cursor: pointer;
    background-color: #FBFFF9;
    color: #4caf50;

}

.paid-hero-header {
    font-size: 1.1em;
    font-weight: bold;
}

.image-name-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.profile-pic {
    height: 160px;
    width: 160px;
    border: solid black thin;
    border-radius: 50%;
}

.service-snippets {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-right: 48px;
}

.service-snippet-header {
    color: #FBFFF9;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 0px;
}


.service-snippet-small {
    color: #FBFFF9;
    margin-top: 2px;
}

.special {
    letter-spacing: 4px;
    color: rgba(152, 28, 26, 0.9);
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
 
}




/********
Clients Index Styling:
**************/

.clients-index-container {
    width: 70%;
    margin: auto;
    padding: 16px;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 720px;
    background-color: #FBFFF9;
}



.btn-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.new-client-btn {
    text-decoration: none;
    border: solid #4caf50;
    color: #4caf50;
    background-color: none;
    font-size: .9em;
    padding: 4px;
    transition: all 300ms;
}

.new-client-btn:hover {
    cursor: pointer;
    background-color: #4caf50;
    color: #FBFFF9;
}

.new-client-btn::after {
    text-decoration: none;
    color: inherit;
}

.clients-container {
    display: flex;
    flex-direction: row;
    float: left;
    flex-wrap: wrap;

}

.no-client-add-btn-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.no-client-add-btn {
    text-decoration: none;
    color: #4caf50;
    border: solid #4caf50;
    font-size: 1.1em;
    padding: 4px;
    background: none;
    transition: all 300ms;
}
.no-client-add-btn::after {
    text-decoration: none;
    color: inherit;
}
.no-client-add-btn:hover {
    color: #FBFFF9;
    background-color: #4caf50;
    cursor: pointer;
}

.client-card {
    background-color: #FBFFF9;
    float: left;
    margin-left: 35px;
    padding: 16px;
    padding-bottom: 4px;
    margin-top: 24px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.75);
    transition: all 200ms;
}

.big-link {
    text-decoration: none;
    color: inherit;
}
.big-link::after {
    text-decoration: none;
    color: inherit;
}

.client-card:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.client-index-name {
    color: #981D1A;
    text-shadow: .5px 1px 0px rgba(152,29,26,0.6);

}

.setup-clients-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setup-client-btn {
    text-decoration: none;
    color: #981D1A;
    margin-top: 32px;
    background: none;
    text-align: center;
    border: solid #981D1A;
    font-size: .7em;
    width: 50%;
    transition: all 300ms;
}

.setup-client-btn::after {
    text-decoration: none;
    color: inherit;
}

.setup-client-btn:hover {
    color: #FBFFF9;
    background-color: #981D1A;
    cursor: pointer;
    
}



/********
Main Nav Partial Styling:
**************/

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-nav-btn {
    text-decoration: none;
    border: solid #4caf50;
    border-top: none;
    text-align: center;
    padding: 4px;
    padding-top: 10px;
    padding-bottom: 0px;
    height: 40px;
    width: 80px;
    font-size: 1em;
    margin-top: -16px;
    color: #981D1A;
    font-weight: bold;
    margin-right: -3px;
    transition: all 500ms;
}

.main-nav-btn:hover {
    cursor: pointer;
    color: #FBFFF9;
    background-color: #4caf50;
    
}

.selected {
    color: #FBFFF9;
    background-color: #4caf50;
}


.main-nav-btn::after {
    text-decoration: none;
    color: inherit;
}

.main-nav-pay {
    padding-right: 8px;
}

/**********
Clients Show Styling:
*******************/

.clients-show-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 64px;
    width: 70%;
}

.clients-show-contact-info {
    width: 80%;
}

.client-show-name {
    font-size: 4em;
    color: #981D1A;
    text-shadow: 1.5px 1px 0px rgba(152,29,26,0.6);
    font-weight: bold;
    margin-bottom: 0px;
}

.client-show-description {
    margin-top: 4px;
    font-size: .8em;

}

.show-services-header {
    color: #981D1A;
    font-size: 2.2em;
    margin-right: 16px;
    margin-bottom: 0px;
}

.row-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.divider {
    border-bottom: solid #292f33;
}

.services-table {
    margin-bottom: 88px;
    background-color: #fffffff5;
    overflow-y: scroll;
    height: 400px;
    padding: 8px;
}

.back-btn {
    background: none;
    text-decoration: none;
    border: solid #981D1A;
    padding: 4px;
    color: #981D1A;
    margin-left: 40px;
    font-size: 1.1em;
    transition: all 300ms;
}

.back-btn::after {
    text-decoration: none;
    color: inherit;
}

.back-btn:hover {
    color: #FBFFF9;
    background-color: #981D1A;
    cursor: pointer;

}

.clients-show-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
}

.clients-show-info-span {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.clients-show-info-label {
    margin-right: 16px;
    font-weight: bold;
    font-size: 1.2em;
}


.snapshot-grid {
    display: grid;
    padding: 8px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    'a a a b b b'
    'a a a b b b'
    'a a a b b b'
    'c c c d d d'
    'c c c d d d'
    'c c c d d d';
    grid-gap: 16px;



}
.snap-a { grid-area: a; }
.snap-b { grid-area: b; }
.snap-c { grid-area: c; }
.snap-d { grid-area: d; }

.snapshot-title {
    margin-top: 48px;
    align-self: center;
}



.snapshot-item {
    padding: 16px;
    padding-top: 1px;
    display: flex;
    flex-direction: column;
    padding-left: 2px;
    text-align: center;
    color: black;
    font-weight: bold;

}
.hero-list {
    list-style: none;
}

.snapshot-item {
    background-color: rgba(76, 175, 79, 0.342);
    border: solid #4caf50 thin;
    width: 90%;

}

.snapshot-header {
    font-size: 0.75em;
    font-weight: 300;
    margin-top: 2px;
    text-align: left;
}
.snapshot-data {
    font-size: 1.6em;
    font-weight: 700;
    color: #292f33;
    /* text-shadow: 2px 1px 1px #292f33; */
    font-family: 'Montserrat', sans-serif;


}


.send-bill {
    background: none;
    color: #981D1A;
font-family: 'Lato', sans-serif;

    border: none;
    padding: 8px;
    font-size: 1.2em;
    font-weight: bold;
    transition: all 400ms;
}
.send-bill:hover {
    color: #FBFFF9;
    background-color: #981D1A;
    cursor: pointer;
}
.bill-sent-text {
    color: #4caf50;
    font-size: .8em;
}
.billed-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bill-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}




/******
Form Styling
*************/

.form-header {
    text-align: center;
    color: #981D1A;
    font-weight: bold;
    text-shadow: 1.5px 1px 0px rgba(152,29,26,0.6);
    font-size: 2.5em;
}

.clients-form {
    width: 50%;
    margin: auto;
}

.form-input {
    font-size: 1em;
    padding: 4px;
    font-family: 'Montserrat', sans-serif;

    margin-bottom: 32px;
    border: none;
    border: none;
    border-bottom: solid lightgray thin;
}
.form-input:focus {
    outline: none;
    border: none;
    border-bottom: solid lightgray thin;
}

.client-name-input-span {
    display: flex;
    flex-direction: row;
}
.a {
    width: 80%;
    min-width: 40%;
}

.b {
    width: 100%;
}

.client-con-input {
    width: 30%;
}
.client-phone-in {
    width: 20%;
}

.client-service-input {
    margin-bottom: 40px;
}

.form-checkbox {
    margin-left: 40px;
}


.form-btn-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -24px;
}

.form-btn {
    background: #4caf50;
    border: solid #276900;
    padding: 4px;
    color: #FBFFF9;
    margin-left: 40px;
    font-size: 1.1em;
    transition: all 300ms;
}

.form-btn:hover {
    cursor: pointer;
    background-color: #FBFFF9;
    border: solid #4caf50;
    color: #4caf50;
}

.cancel-btn {
    text-decoration: none;
    background: none;
    border: solid #981D1A;
    padding: 4px;
    color: #981D1A;
    margin-left: 40px;
    font-size: .9em;
    transition: all 300ms;
}
.cancel-btn::after {
    text-decoration: none;
    color: inherit;
}
.cancel-btn:hover {
    cursor: pointer;
    background-color: #981D1A;
    color: #FBFFF9;
}

.name-in {
    width: 30%;
}
.contact-in {
    width: 30%;
}
.venmo-in {
    width: 70%;
}
.sign-in-inp {
    width: 30%;
}

.no-services-form-btn-div {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;
}

.no-services-form-btn {
    color: #4caf50;
    background: none;
    border: solid #4caf50;
    padding: 8px 4px 8px 4px;
    font-size: .85em;
    transition: all 300ms;
}

.no-services-form-btn:hover {
    color: #FBFFF9;
    background-color: #4caf50;
    cursor: pointer;
}

.auth-div {
    margin-right: 112px;
}
/******
Service Form Styling
*************/


.service-input {
    border: none;
    border-bottom: solid lightgray thin;
    font-family: 'Montserrat', sans-serif;

    font-size: 1em;
}

.service-input:focus {
    outline: none;
}

.pricing-input {
    width: 5%;
}

.service-form-btn-div {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: flex-end;
}

.service-form-btn {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background: none;
    border: none;
    color: #4caf50;
    font-weight: bold;
    font-size: 1em;
    transition: all 300ms;
    margin-top: 4px;
}

.service-form-btn:hover {
    color: #FBFFF9;
    background-color: #4caf50;
    cursor: pointer;
}




/*******
Services Index Styling:
************************/

.all-services-header {
    color: #981D1A;
    text-shadow: 1px 1px 0px rgba(152,29,26,0.6);
    font-size: 2em;
}

.service-index-table {
    border-top: solid black;
}

.hidden {
    display: none;
}
.showing {
    display: block;
    width: 90%;
}

.add-service-btn {
    padding: 4px;
    width: 11%;
    border: solid #4caf50;
    color: #4caf50;
    font-weight: bold;
    font-size: .75em;
    transition: all 300ms;
    margin-top: 4px;
    margin-right: 8px;
}

.add-service-btn:hover {
    cursor: pointer;
    color: #FBFFF9;
    background-color: #4caf50;

}

.btn-in-use {
    cursor: pointer;
    color: #FBFFF9;
    background-color: #4caf50;
}


.no-service-div {
    width: 100%;
    font-size: .85em;
    margin: auto;
    margin-top: 8px;
    padding: 8px;
}
.no-services-warning {
    color: #981D1A;
    font-size: 1.3em;
    text-shadow: 1px 1px 0px rgba(152,29,26,0.6);
    margin-bottom: 0px;
}

.dropdown-flex {
    display: flex;
    flex-direction: row;
}


/*****
Payments Index Styling
***********************************/
.payment-warning {
    text-align: center;
    
}
.payment-warning-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.green {
    color: #4caf50;
}
.green:hover {
    background-color: #4caf50;
}
.red {
    color: #981D1A;
}
.red:hover {
    background-color: #981D1A
}
.pay-warning-link {
    transition: all 300ms;
    padding: 8px;
}
.pay-warning-link::after {
    color: inherit;
}
.pay-warning-link:hover {
    color: white;
    text-decoration: none;
}

.is-paid-div {
    padding-top: 16px;
}

.paid-btn {
    background: none;
    border: none;
    color: #981D1A;
    font-size: 1em;
    transition: all 300ms;
    padding: 4px;
    align-self: center;
    margin-top: 16px;

}
.paid-btn:hover {
    background-color: #981D1A;
    content: 'Paid!';
    color: #FBFFF9;
    cursor: pointer;
}


/*********
User Profile Styling
*************************/

.header-and-edit-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
}
.user-info-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin: auto;
}
.profile-header {
    margin-left: 102px;
}
.edit-profile-btn {
    color: #981D1A;
    font-weight: bold;
    border: solid #981D1A;
    transition: all 300ms;
    padding: 4px;
    height: 10%;
    width: 8%;
    align-self: center;
}
.edit-profile-btn:hover {
    color: #FBFFF9;
    background-color: #981D1A;
    cursor: pointer;
}
.edit-profile-btn-clicked {
    color: #FBFFF9;
    background-color: #981D1A;

}

.indent {
    margin-left: 72px;
}

.profile-image-container {
    display: flex;
    flex-direction: row;
}



.user-profile-image-input {
    align-self: flex-end;
    border: none;
    border-bottom: solid #292f33 thin;
    outline: none;
    font-size: 0.8em;
    padding: 4px;
}
.user-profile-image-input:focus {
    outline: none;
}

.image-url-label {
    font-size: .75em;
}


.hidden-edit-profile-image {
    display: none;
}

.contact-info-container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

.name-info {
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    font-size: 1.5em;
    font-weight: bold;
}

.users-first-name {
    margin-right: 32px;
}

.email-phone-info {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}
.hidden-save-btn-container {
    display: none;
}
.show-save-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0px;
    margin-top: 24px;
}
.save-new-info-btn {
    background: none;
    border: solid #4caf50;
    color: #4caf50;
    transition: all 300ms;
    padding: 4px;
    font-size: 1.2em;
    width: 120px;
    
}
.save-new-info-btn:hover {
    cursor: pointer;
    background-color: #4caf50;
    color: #FBFFF9;
}

.show-edit-profile-image {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 40px;
}
.hidden-name-info-inputs {
    display: none;
}
.showing-name-info-inputs {
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    margin: auto;
    font-weight: bold;
    margin-top: 32px;
    justify-content: center;
    
}

.editing-name-info-input {
    font-size: 1.1em;
    padding: 1px;
    height: 32px;
    margin-right: 32px;
    width: 20%;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;


}

.hidden-email-info-inputs {
    display: none;
}

.showing-email-info-inputs {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.email-info-input {
    font-size: 1em;
    padding: 2px;
    font-family: 'Montserrat', sans-serif;

    text-align: center;
    margin-top: 32px;
}

.hide-this-div {
    display: none;
}